---
extends: default
rules:
  line-length:
    max: 120
    level: warning
  indentation:
    spaces: 2
  comments:
    min-spaces-from-content: 2
  comments-indentation: {}
  document-start: disable
  truthy:
    check-keys: false
ignore: |
  helm/steam-game-server/templates/
  examples/
  .git/
  .github/appmod/
  node_modules/
  vendor/
