# 7 Days to Die Server Configuration
# Steam ID: 251570

replicaCount: 1

image:
  repository: steamcmd/steamcmd
  pullPolicy: IfNotPresent
  tag: latest

service:
  type: LoadBalancer
  ports:
    - name: game
      port: 26900
      targetPort: 26900
      protocol: UDP
    - name: query
      port: 26901
      targetPort: 26901
      protocol: UDP
    - name: steam
      port: 26902
      targetPort: 26902
      protocol: UDP

gameServer:
  steamId: "294420"
  startCommand: "/home/steam/serverfiles/startserver.sh"
  env: []

serverConfigs:
  gameSettings:
    filename: "serverconfig.xml"
    mountPath: "/home/steam/serverfiles"
    content: |
      <?xml version="1.0" encoding="utf-8"?>
      <ServerSettings>
      	<!-- GENERAL SERVER SETTINGS -->

      	<!-- Server representation -->
      	<property name="ServerName"						value="My Game Host"/>
      	<property name="ServerDescription"				value="A 7 Days to Die server"/>
      	<property name="ServerWebsiteURL"				value=""/>
      	<property name="ServerPassword"					value=""/>
      	<property name="ServerLoginConfirmationText"	value=""/>
      	<property name="Region"							value="NorthAmericaEast"/>
      	<property name="Language"						value="English"/>

      	<!-- Networking -->
      	<property name="ServerPort"						value="26900"/>
      	<property name="ServerVisibility"				value="2"/>
      	<property name="ServerDisabledNetworkProtocols"	value="SteamNetworking"/>
      	<property name="ServerMaxWorldTransferSpeedKiBs" value="512"/>

      	<!-- Slots -->
      	<property name="ServerMaxPlayerCount"			value="8"/>
      	<property name="ServerReservedSlots"			value="0"/>
      	<property name="ServerReservedSlotsPermission"	value="100"/>
      	<property name="ServerAdminSlots"				value="0"/>
      	<property name="ServerAdminSlotsPermission"		value="0"/>

      	<!-- Admin interfaces -->
      	<property name="WebDashboardEnabled"			value="false"/>
      	<property name="WebDashboardPort"				value="8080"/>
      	<property name="WebDashboardUrl"				value=""/>
      	<property name="EnableMapRendering"				value="false"/>

      	<property name="TelnetEnabled"					value="true"/>
      	<property name="TelnetPort"						value="8081"/>
      	<property name="TelnetPassword"					value=""/>
      	<property name="TelnetFailedLoginLimit"			value="10"/>
      	<property name="TelnetFailedLoginsBlocktime"	value="10"/>

      	<property name="TerminalWindowEnabled"			value="true"/>

      	<!-- Folder and file locations -->
      	<property name="AdminFileName"					value="serveradmin.xml"/>


      	<!-- Other technical settings -->
      	<property name="ServerAllowCrossplay"			value="false"/>
      	<property name="EACEnabled"						value="true"/>
      	<property name="IgnoreEOSSanctions"				value="false"/>
      	<property name="HideCommandExecutionLog"		value="0"/>
      	<property name="MaxUncoveredMapChunksPerPlayer"	value="131072"/>
      	<property name="PersistentPlayerProfiles"		value="false"/>
      	<property name="MaxChunkAge"					value="-1"/>
      	<property name="SaveDataLimit"					value="-1"/>

      	<!-- GAMEPLAY -->

      	<!-- World -->
      	<property name="GameWorld"						value="Navezgane"/>
      	<property name="WorldGenSeed"					value="MyGame"/>
      	<property name="WorldGenSize"					value="6144"/>
      	<property name="GameName"						value="MyGame"/>
      	<property name="GameMode"						value="GameModeSurvival"/>

      	<!-- Difficulty -->
      	<property name="GameDifficulty"					value="1"/>
      	<property name="BlockDamagePlayer"				value="100"/>
      	<property name="BlockDamageAI"					value="100"/>
      	<property name="BlockDamageAIBM"				value="100"/>
      	<property name="XPMultiplier"					value="100"/>
      	<property name="PlayerSafeZoneLevel"			value="5"/>
      	<property name="PlayerSafeZoneHours"			value="5"/>

      	<!-- Game Rules -->
      	<property name="BuildCreate"					value="false"/>
      	<property name="DayNightLength"					value="60"/>
      	<property name="DayLightLength"					value="18"/>
      	<property name="BiomeProgression"				value="true"/>
      	<property name="StormFreq"						value="100"/>
      	<property name="DeathPenalty"					value="1"/>
      	<property name="DropOnDeath"					value="1"/>
      	<property name="DropOnQuit"						value="0"/>
      	<property name="BedrollDeadZoneSize"			value="15"/>
      	<property name="BedrollExpiryTime"				value="45"/>
      	<property name="AllowSpawnNearFriend"			value="2"/>
      	<property name="CameraRestrictionMode"			value="0"/>
      	<property name="JarRefund"						value="0"/>

      	<!-- Performance related -->
      	<property name="MaxSpawnedZombies"				value="64" />
      	<property name="MaxSpawnedAnimals"				value="50" />
      	<property name="ServerMaxAllowedViewDistance"	value="12" />
      	<property name="MaxQueuedMeshLayers"			value="1000" />

      	<!-- Zombie settings -->
      	<property name="EnemySpawnMode"					value="true"/>
      	<property name="EnemyDifficulty"				value="0"/>
      	<property name="ZombieFeralSense"				value="0"/>
      	<property name="ZombieMove"						value="0"/>
      	<property name="ZombieMoveNight"				value="3"/>
      	<property name="ZombieFeralMove"				value="3"/>
      	<property name="ZombieBMMove"					value="3"/>
      	<property name="AISmellMode"					value="3"/>
      	<property name="BloodMoonFrequency"				value="7"/>
      	<property name="BloodMoonRange"					value="0"/>
      	<property name="BloodMoonWarning"				value="8"/>
      	<property name="BloodMoonEnemyCount"			value="8"/>

      	<!-- Loot -->
      	<property name="LootAbundance"					value="100"/>
      	<property name="LootRespawnDays"				value="7"/>
      	<property name="AirDropFrequency"				value="72"/>
      	<property name="AirDropMarker"					value="true"/>

      	<!-- Multiplayer -->
      	<property name="PartySharedKillRange"			value="100"/>
      	<property name="PlayerKillingMode"				value="3"/>

      	<!-- Land claim options -->
      	<property name="LandClaimCount"					value="5"/>
      	<property name="LandClaimSize"					value="41"/>
      	<property name="LandClaimDeadZone"				value="30"/>
      	<property name="LandClaimExpiryTime"			value="7"/>
      	<property name="LandClaimDecayMode"				value="0"/>
      	<property name="LandClaimOnlineDurabilityModifier"	value="4"/>
      	<property name="LandClaimOfflineDurabilityModifier"	value="4"/>
      	<property name="LandClaimOfflineDelay"			value="0"/>

      	<property name="DynamicMeshEnabled"				value="true"/>
      	<property name="DynamicMeshLandClaimOnly"		value="true"/>
      	<property name="DynamicMeshLandClaimBuffer"		value="3"/>
      	<property name="DynamicMeshMaxItemCache"		value="3"/>

      	<property name="TwitchServerPermission"			value="90"/>
      	<property name="TwitchBloodMoonAllowed"			value="false"/>

      	<property name="QuestProgressionDailyLimit"		value="4"/>

      	<!-- There are several game settings that you cannot change when starting a new game. -->
      	<!-- You can use console commands to change at least some of them in-game. -->
      	<!-- setgamepref BedrollDeadZoneSize 30 -->
      </ServerSettings>
  adminFile:
    filename: "serveradmin.xml"
    mountPath: "/home/steam/serverfiles"
    content: |
      <?xml version="1.0" encoding="UTF-8"?>
      <adminTools>
        <!-- List of admins -->
        <admin steamID="76561198000000000" permission_level="0" />
        <!--
          permission_level: 0=Owner, 1=Admin, 2=Moderator
          Replace 76561198000000000 with the actual Steam64 ID of the admin
        -->
      </adminTools>

persistence:
  enabled: true
  size: 100Gi
  storageClass: "standard"

service:
  type: LoadBalancer
  port: 26900
  targetPort: 26900

resources:
  requests:
    cpu: 2
    memory: 4Gi
  limits:
    cpu: 4
    memory: 8Gi

ingress:
  enabled: false
