# Valheim Server Configuration
# Steam ID: 258550

replicaCount: 1

image:
  repository: ghcr.io/sshelton/steam-game-server/steamcmd
  pullPolicy: IfNotPresent
  tag: latest

gameServer:
  steamId: "258550"
  startCommand: "/home/steam/serverfiles/valheim_server.x86_64 -nographics -batchmode"

serverConfigs: {}

persistence:
  enabled: true
  size: 50Gi
  storageClass: "standard"

service:
  type: LoadBalancer
  port: 2456
  targetPort: 2456

resources:
  requests:
    cpu: 1
    memory: 2Gi
  limits:
    cpu: 2
    memory: 4Gi

ingress:
  enabled: false
